.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  text-shadow: 0 0 5px #433aa8;
}
