body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.taskWrapper {
  display: flex;
  text-align: center;
  width: 200px;
}

.taskTitle {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}